img{
	width: 450px;
	height: 680px;
	margin: 18px;
	transition: all 1s;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
img:hover{
	transform: scale(1.1);
	cursor: no-drop;
}
body{
	background-image: url(https://images.unsplash.com/photo-1627315442991-c2ead1167239?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1164&q=80);
	background-size: cover;
}
h1{
	font-family: 'Oswald', sans-serif;
	font-size: 280%;
	text-align: center;
	background: -webkit-linear-gradient(white, #A80000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer{
	clear: both;
	text-align: center;
	font-size: 150%;
	font-family: 'Oswald', sans-serif;
	color: white;
}